# Python
venv/
.venv/
__pycache__/
*.pyc

# Datasets & GeoTIFFs
*.csv
*.tif
*.tiff
!datasets/**/*.csv
!datasets/**/*.json


# Node
frontend/node_modules/
frontend/dist/

# Java / Spring Boot
backend/backend/target/

# Environment & Logs
.env
*.log

# OS & IDE
.vscode/
.idea/
.DS_Store
Thumbs.db